header {
    background-color: #69b2da;
    color: #484848;
    padding: 10px;
    text-align: justify;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    color: #484848;
    text-decoration: none;
}

nav li {
    margin: 10px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    margin-top: 0;
    padding: 0, 20px;
}

img {
    max-width: 100%;
}

footer {
    background-color: #69b2da;
    color: #484848;
    text-align: center;
    padding: 10px;
}

section {
    margin: 10px;
}